		
		{{#if mensajes}}
			<div class="alertas">
				{{#mostrarAlertas mensajes}}
				{{/mostrarAlertas}}
			</div>
		{{/if}}
		
		<footer class="site-footer contenedor">
    		<nav class="nav">
    			<a href="#">Crear Grupo</a>
    			<a href="#">Iniciar Sesion</a>
    			<a href="/crear-cuenta">Registrarse</a>
    		</nav>

    		<p class="copyright">Todos los derechos reservados Meeti {{fecha}} &copy;</p>
    	</footer>


    	<script type="text/javascript" src="/js/trix.js"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>       
        <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    	<script type="text/javascript" src="/dist/bundle.js"></script>
        <script type="text/javascript" src="/js/meeti.js"></script>
        <script type="text/javascript" src="/js/asistencia.js"></script>
    </body>
</html>